<div class="container static-pages">
  <br>
  <div class="jumbotron">
    <h1>The Foundational Institute for Scientific Human Experimentation</h1>
  </div>
  <hr>
  <h3>See Our Groundbreaking, Completely Legal Experiments and Distinguished,
  Totally Credible Scientists</h3>
  <div class="list-group">
    <!-- <%#= link_to "Credible Scientists", scientists_path, class: "list-group-item" %>
    <%#= link_to "Groundbreaking Experiments", experiments_path, class: "list-group-item" %>
   --></div>
</div>
