/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: url('two_heads_kopie.jpg') no-repeat center center fixed;
}

h1, h3 {
  text-shadow: -3px 3px 2px rgba(163, 31, 44, 1),
                1px 0px 2px rgba(40, 40, 40, .5);
}

.navbar-brand {
  text-shadow: 1px 1px 2px rgba(140, 140, 140, .5);
}

.flash {
  border: 1px solid black;
  padding: 1em;
  background: #eee;
}

.alert  { color: red;  }

.notice { color: blue; }

.add-background {
  height: 105%;
  width: 100%;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
  background-color: rgba(255, 235, 205, .7);
}

  .exp-log-comment-text-area {
    height: 160px;
    width: 60%;
  }

  .exp-log-comment-text-field {
    height: 180px;
  }

@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: inherit;
}
